<div>
    <% books.forEach(book => { %>
        <a href="/books/<%=book.id%>">
            <h2 class="book-name"><%=book.title%></h2>
            <h2 class="quantity"><%=book.quantity%></h2>
            <div><a href="students/new">Access</a></div>
        </a>
    <%})%>
</div>