<header>
    <nav>
        <a href="/">Collection</a>
        <ul>
            <li><a href="/books/new">New Collection</a></li>
            <li><a href="/students/new">New Student</a></li>
            <li><a href="/students/index">Students Lists</a></li>
        </ul>
    </nav>
</header>