<header>
    <nav>
        <a href="/">Collection</a>
        <ul>
            <li><a href="books/new">New Collection</a></li>
            <li><a href="">Students</a></li>
        </ul>
    </nav>
</header>