<h2 class="page-header">Books Available</h2>
<h3>Search Books</h3>
<label>Title</label>
<input type="text">
<button type="submit">Search</button>
<div>
    <%-include('partials/booksmain',{books:books})%>
</div>