<div>
    <label>Name: </label>
    <input type="text" name="name" value="<%=student.name%>">
</div>
<div>
    <label>Roll number</label>
    <input type="number" name="rno" value="<%=student.rno%>">
</div>
<div>
    <label>Department</label>
    <input type="text" name="department" value="<%=student.department%>">
</div>