<h2>New Student</h2>
<form action="/students" method="POST">
    <%-include('_form_fields.ejs')%>
    <div>
        <a href="/students">Cancel</a>
        <button type="submit">Add</button>
    </div>
</form>